<div class="contac-us">
    <div class="bg-image"></div>
    <div class="row">
        <div class="col-md col-left">
            <h3 class="title">CONTACTANOS:</h3>
            <div class="info">
                <p><strong>Direcccion: </strong><span>Palacio de Carondelet, Gabriel García Moreno, Quito, Ecuador</span></p>
                <p><strong>Telefono: </strong><span><a href="tel:+59398492603">+59398492603</a></span></p>
                <p><strong>Email: </strong><span><a href="mailto:alguien@dominio.com">alguien@dominio.com</a></span></p>
            </div>
        </div>
        <div class="col-md col-right">
            <!-- this creates a google map on the page with the given lat/lng from -->
            <!-- the component as the initial center of the map: -->

            <sebm-google-map [latitude]="mapConfi.lat" [longitude]="mapConfi.lng" [zoom]="mapConfi.zoom" [zoomControl]="mapConfi.zoomControl" [zoom]="mapConfi.styles">
                <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
            </sebm-google-map>
        </div>
    </div>

</div>