<form>
    <div class="form-group">
        <!-- <label for="name">Email:</label> -->
        <input type="text" class="form-control" #username placeholder="user@dominio.com">
    </div>
    <div class="form-group">
        <!-- <label for="name">Contraseña:</label> -->
        <input type="password" class="form-control" #password placeholder="ingrese su contraseña">
    </div>
    <div class="form-group btn-login-siginup">
        <button type="submit" class="btn btn-default btn-info" (click)="auth.login(username.value, password.value)">Iniciar Sesión</button>
        <button type="submit" class="btn btn-default btn-info" (click)="auth.signUp(username.value, password.value)">Regístrate</button>
    </div>
    <div class="row row-social">
        <div class="col-xs">
            <button type="submit" class="btn btn-default btn-primary" (click)="auth.facebookLogin()">Facebook</button>
            <!-- (click)="auth.googleLogin()" -->
        </div>
        <div class="col-xs">
            <button type="submit" class="btn btn-default btn-danger" (click)="auth.googleLogin()">Google</button>
        </div>
    </div>
</form>

<!-- <button class="btn btn-primary btn-margin" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
<button class="btn btn-primary btn-margin" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button> -->