form {
    .form-group {
        text-align: left !important;
        button,
        label,
        input {
            font-size: .7em;
        }
        button {
            //width: 150px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        label {
            text-align: left !important;
        }
        input {
            color: #fff;
        }
    }
    .btn-login-siginup {
        text-align: center !important;
        button {
            width: 150px;
        }
    }
    .row-social {
        padding: 0;
        div[class^="col"] {
            margin: 0 !important;
            button {
                width: 100%;
                margin-top: 5px;
                //margin-bottom: 5px;
            }
        }
    }
}

@media (min-width: 544px) {
    form {
        .form-group {
            button,
            label,
            input {
                font-size: 1em;
            }
        }
    }
}

@media (min-width: 768px) {
    form {
        .form-group {
            button,
            label,
            input {
                font-size: 1em;
            }
        }
    }
}

@media (min-width: 992px) {
    form {
        .form-group {
            button,
            label,
            input {
                font-size: 1.2em;
            }
        }
    }
}

@media (min-width: 1200px) {
    form {
        .form-group {
            button,
            label,
            input {
                font-size: 1.5em;
            }
        }
    }
}