<div class="welcome">
    <div class="bg-image" [@fadeInOut]="state" [ngStyle]="{'background-image': 'url(' + bgImage.src + ')'}"></div>
    <div class="row text-xs-center">
        <div class="col-md col-left">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa nulla magni architecto ipsum ipsam a sint aliquid itaque voluptas dolor eius suscipit ducimus ad, facilis iusto. Ab provident aspernatur, quod!
            </p>
        </div>
        <div class="col-md col-right">
            <app-auth></app-auth>
        </div>
    </div>
</div>